@using GoGames.Models.Managers
@{
    ViewBag.Title = "Liste des jeux";
}
<div class="jumbotron">
    <h1>@ViewData["Title"]</h1>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Titre du jeu</th>
            <th>Genre</th>
            <th>Description</th>
            <th>Année de création</th>
            <th>@Html.ActionLink(" ", "Add", "GamesList", null, new { @class = "btn btn-success glyphicon glyphicon-plus" })</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var game in DataRegister.Games.Values)
        {
            <tr>
                <td>@game.GameName</td>
                <td>@game.GameType</td>
                <td>@game.Description</td>
                <td>@game.CreationYear</td>
                <td>
                    @Html.ActionLink(" ", "Edit", "GamesList", new { ID = game.GameName }, new { @class = "btn btn-success glyphicon glyphicon-pencil" })
                    @Html.ActionLink(" ", "Details", "GamesList", new { ID = game.GameName }, new { @class = "btn btn-info glyphicon glyphicon-info-sign" })
                    @Html.ActionLink(" ", "Delete", "GamesList", new { ID = game.GameName }, new { @class = "btn btn-danger glyphicon glyphicon-trash" })
                </td>
            </tr>
        }
    </tbody>
</table>
