@model GoGames.Models.Game
@{
    ViewData["Title"] = "Ajouter le jeu";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Game</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(game => game.GameName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(game => game.GameName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(game => game.GameName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(game => game.GameType, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(game => game.GameType, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(game => game.GameType, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(game => game.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(game => game.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(game => game.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(game => game.CreationYear, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(game => game.CreationYear, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(game => game.CreationYear, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Add" class="btn btn-default" />
        </div>
    </div>
</div>
}